/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


/* Nav Media  */

.navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.ham-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-links {
    display: none;
    width: 100%;
}
.nav-logo h1{
    font-size: 2rem;
}
.nav-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-links ul li {
    text-align: center;
}

.nav-links ul li a {
    padding: .5rem 1rem;
}

.nav-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.profile-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: undefined;
}

.about-container{
    margin-top: undefined

}
.work-container{
    margin-top: undefined
}

.profile-image{
    margin-right: 0;
}

.skills{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Work Media Layout */

.card-grid{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}
.card-list{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.card-list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


/* Contact Media  */
.contact-container{
    padding-top: 350px
}
#contact_form{
    width: auto;
    padding: 15px 20px;
}

.animation-container{
    padding-top: 350px
}
