
:root {


    --padding-header-media-offset:350px;



}
/* Nav Media  */

.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.ham-toggle {
    display: flex;
}

.nav-links {
    display: none;
    width: 100%;
}
.nav-logo h1{
    font-size: 1.5rem;
}
.nav-logo i {
    font-size: 2rem;
}
.nav-links ul {
    width: 100%;
    flex-direction: column;
}

.nav-links ul li {
    text-align: center;
}

.nav-links ul li a {
    padding: .5rem 1rem;
}

.nav-links.active {
    display: flex;
}

.ham-toggle {
    top: 0.7rem;
    right: 1.1rem;
}



.profile-container{
    flex-direction: column;
    margin-top: var(--margin-header-media-offset);
}

.about-container{
    margin-top: var(--margin-header-media-offset)

}

.profile-image-block{
    max-width: 80%;

}
.work-container{
    margin-top: var(--margin-header-media-offset)
}

.profile-image{
    margin-right: 0;
}

.skills{
    flex-direction: column;
}

/* Work Media Layout */

.card-grid{
    grid-template-columns: 1fr;
}
.card-list{
    grid-template-columns: 1fr;
}

.card-list{
    flex-direction: column;
}


/* Contact Media  */
.contact-container{
    padding-top: var(--padding-header-media-offset)
}
#contact_form{
    width: auto;
    padding: 15px 20px;
}

.animation-container{
    padding-top: var(--padding-header-media-offset)
}