/* Importing Fonts from Adobe  */
@import url("https://use.typekit.net/anj1jnw.css");


/* Defining the Main color Sheme  */

:root {
    --text-primary-color:#1f57f3;
    --text-secondary-color:#f8f9fa;
    --primary-color:#f8f9fa;
    --secondary-color:#1f57f3;
    --link-color:#000;
    --link-color-light:rgb(240, 240, 240);

    --font-size-big:3rem;
    --font-size-middle:2rem;
    --font-size-small:1.3rem;

    --font-weight-big:700;
    --font-weight-middle:400;
    --font-weight-small:200;

    --margin-header-offset:107px;



}

html {
    scroll-behavior: smooth;
  }
  img{
      max-width: 100%;
  }

*{
    box-sizing: border-box;
}


body {

 /* Fonts I want to Try Out for this Project */

    /* font-family: circe, sans-serif;
    font-weight: 400;
    font-style: normal; */

    font-family: acumin-pro,sans-serif;
    font-weight: var(--font-weight-middle);
    font-style: normal;

    /* font-family: roboto,sans-serif;
    font-weight: 400;
    font-style: normal; */

    font-size: var(--font-size-small);
    line-height: 1.7;

  /*  Body Colors */
  background-color: var(--primary-color);
  color: var(--secondary-color);


  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Font Styling */

h1 {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
}

h2 {
    font-size: var(--font-size-middle);
    font-weight:var(--font-weight-big);
}

h3 {
    font-size: var(--font-size-small);
    font-weight:var(--font-weight-big);
}


 /* Link Styling  */

 #header-menu li a{
     width: 100px;
     display: inline-block;
     text-align: center;
 }
a {
    font-size: var(--font-size-small);
    color: var(--link-color);
}

#header-menu a {
    font-size: var(--font-size-small);
    color: var(--link-color-light);
    border-bottom: 2px solid rgba(255, 255, 255,0);
    transition-duration: 0.4s;
    transition-property: border-color,transform,scale;
}

a:visited {
   color: #6b6b6b;
}

a:active {
    color:var(--link-color);
  }

#header-menu a:hover,#header-menu a:hover {
    font-weight: var(--font-weight-big);
    border-color: rgba(255, 255, 255,255);
    
}
.profile-container a:hover,.about-container a:hover,.contact-container a:hover{
    font-weight: var(--font-weight-big);
}


.nav_item_current {
    font-weight: var(--font-weight-big);
    border-color: rgba(255, 255, 255,255);
}


/* Button Styling  */

.button,button{
    display: inline-block;
    border: none;
    font-family: inherit;
    font-weight: var(--font-weight-big);
    background-color: var(--link-color);
    color: var(--primary-color);
    font-size:var(--font-size-middle);
    padding: 8px 25px;
    border-radius: 8px;  
    box-shadow: 0px 12px 0px rgba(46, 46, 46, 0.795);
    transition: all 0.2s ease-in-out 0s;
}

 .button:hover,button:hover{
    cursor: pointer;
     /* opacity: 0.9;  */
     transform: scale(0.99);
    box-shadow: 0px 0px 0px rgba(46, 46, 46, 0.795);
} 

.button a,button a{
    font-weight: var(--font-weight-big);
    transition-duration: 0.2s;
}
.button a:hover,button a:hover{
    font-weight: var(--font-weight-big);
}
/* Span Styling  */

.profile-container span {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
}

/* Card Styling  */

.card-footer{
    display: flex;
    border-top: 1px solid white ;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    gap: 10px;

}
.card-footer a{
 color: white;
}
.card-image{
    max-width: 500px;
    margin: 0 auto;
    
}

/* Color Classes  */

.bg-primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.section-margin{
  padding-top: 400px !important;
  padding-bottom: 100px !important
}

/* Layout Header */

header {
    position: fixed;
    top:0px;
    width: 100%;
    color: var(--link-color-light);

    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

}
header a{
    color: var(--link-color-light);
}

header a:visited{
    color: var(--link-color-light);
}

#header-menu{
    display: flex;
    margin-right:150px ;
}

#header-menu li{
   padding: 10px;
   margin: 0 20px;
}
#header-menu li a{
     transition-duration: 0.3s;
  }

#header-menu li a:hover{
   transform:translateY(2px) ;
 }

.header-icon{
   display: flex;
   margin-left: 100px;
}

.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
 }
 
 .header-icon h1{
    margin-left: 10px;
    font-size:var(--font-size-middle);
 }
 


/* Layout Profile */

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top:var(--margin-header-offset);
    padding-top: 46px;

}

.profile-image{
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile-text h2{
    font-size: 4rem;
}


/* Layout Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 40px;
    flex: 0 1 auto;
}
.profile-text{
    text-align: center;
    flex-direction: column;
}

.icon-container i{
    cursor: pointer;
    margin: 0 10px;
    margin-top: 7px;
    color: var(--link-color);
}
/* Layout */

main{
    flex: 1 1 auto;
}
/* Layout About */

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    text-align: center;
    margin-top:var(--margin-header-offset);
    padding-top: 46px;
}

/* Layout Contact  */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top:var(--margin-header-offset);
    padding-top: 46px;

}
.about-hobbies{
    margin-top: 30px;
}
.about-cv{
    margin-top: 30px;
}
.contact-text{
    margin-bottom: 50px;
    text-align: center;
}

#contact_form{
    display:flex;
    flex-direction: column;
    padding: 20px 50px;
    text-align: center;
    width: 500px;
}
.contact-form{
    text-align: center;
}
#contact_form label,#contact_form input,#contact_form textarea{
   margin-bottom: 10px;
}

#contact_form input{
    padding: 8px;
}

#contact_form textarea{
    padding: 8px;
    min-height: 300px;
}
#contact_form button{
    margin: 40px 0;
}


/* Table Styling */

.table-content{
    border-collapse: collapse;
    margin: 25px;
    font-size: var(--font-size-small);
    min-width: 400px;
    text-align: left;
    border-radius: 7px;
    overflow: hidden;
}

.table-content thead tr{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: var(--font-weight-big);

}
.table-content th,
.table-content td {
    padding: 10px 15px;
}

.table-content tbody tr{ 
    border-bottom: 2px solid rgb(201, 201, 201);

}

.table-content tbody tr:nth-of-type(even){
  background-color: rgb(228, 228, 228);
}
.table-content tbody tr:last-of-type{
    border-bottom: 3px solid var(--secondary-color);
}



    /* Layout Work */

.work-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center ;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top:var(--margin-header-offset);
    padding-top: 46px;
}

.work-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 50px;

}

.animation-link{
    font-size:var(--font-size-small);
    cursor: pointer;
    font-weight: var(--font-weight-middle);
    border-bottom: none;
}

.animation-link:hover,.animation-link:focus{
    font-weight: var(--font-weight-middle);
    border:none;


}


/* Grid Fallback  */
.grid-item{
    display: inline-block;
    width: 33%;
}


.grid-item{
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 12px 5px rgba(46, 46, 46, 0.2);
    width: 100%;
}

.grid-item h2{
    margin-bottom: 20px;
}





/* Animation Style */

.animation-container{
    margin-top:var(--margin-header-offset);
    padding-top: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }