/* Importing Fonts from Adobe  */
@import url("https://use.typekit.net/anj1jnw.css");


/* Defining the Main color Sheme  */

html {
    scroll-behavior: smooth;
  }
  img{
      max-width: 100%;
  }

*{
    box-sizing: border-box;
}


body {

 /* Fonts I want to Try Out for this Project */

    /* font-family: circe, sans-serif;
    font-weight: 400;
    font-style: normal; */

    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-style: normal;

    /* font-family: roboto,sans-serif;
    font-weight: 400;
    font-style: normal; */

    font-size: 1.3rem;
    line-height: 1.7;

  /*  Body Colors */
  background-color: #f8f9fa;
  color: #1f57f3;


  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Font Styling */

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight:700;
}

h3 {
    font-size: 1.3rem;
    font-weight:700;
}



/* Button Styling  */

.button{
    display: inline-block;
    border: none;
    font-family: inherit;
    font-weight: 700;
    background-color: #000;
    color: #f8f9fa;
    font-size:2rem;
    padding: 8px 25px;
    border-radius: 8px;  
    box-shadow: 0px 12px 0px rgba(46, 46, 46, 0.795);
    transition: all 0.2s ease-in-out 0s;
}

button{
    display: inline-block;
    border: none;
    font-family: inherit;
    font-weight: 700;
    background-color: #000;
    color: #f8f9fa;
    font-size:2rem;
    padding: 8px 25px;
    border-radius: 8px;  
    box-shadow: 0px 12px 0px rgba(46, 46, 46, 0.795);
    transition: all 0.2s ease-in-out 0s;
}

 .button:hover,button:hover{
    cursor: pointer;
     /* opacity: 0.9;  */
     transform: scale(0.99) !important;
    box-shadow: 0px 0px 0px rgba(46, 46, 46, 0.795) !important;
} 

.button a{
    font-weight: 700;
    transition-duration: 0.2s;
} 

button a{
    font-weight: 700;
    transition-duration: 0.2s;
}
.button a:hover{
    font-weight: 700;
}
button a:hover{
    font-weight: 700;
}
/* Span Styling  */

.profile-container span {
    padding: 0.3rem 0.7rem;
    background-color: #000;
    color: #f8f9fa;
}


/* Color Classes  */

.bg-primary{
    background-color: #f8f9fa;
    color: #1f57f3;
}

.bg-secondary{
    background-color: #1f57f3;
    color: #f8f9fa;
}


 /* Link Styling  */

 #header-menu li a{
    max-width: 100px;
    display: inline-block;
    text-align: center;
}
a {
   font-size: 1.3rem;
   color: #000;
}

#header-menu a {
   font-size: 1.3rem;
   color: rgb(240, 240, 240);
   border-bottom: 2px solid rgba(255, 255, 255,0);
   transition-duration: 0.4s;
   transition-property: border-color,transform,scale;
}

/* a:visited {
  color: #6b6b6b;
} */

a:active {
   color:#000;
 }

/* #header-menu a:hover,#header-menu a:hover {
   font-weight: var(--font-weight-big);
   border-color: rgba(255, 255, 255,255);
   
} */

.profile-container a:hover{
   font-weight: 700;
}

.about-container a:hover{
   font-weight: 700;
}

.contact-container a:hover{
   font-weight: 700;
}



/* Navbar Styling  */
 .navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .nav_item_current {
    font-weight: 700;
    border-color: rgba(255, 255, 255,255);
 }
 .nav-links ul{
     display: flex;
 }
 /* .nav-links li{
     padding: 1rem;
 } */
 .nav-links li a {
     padding: 1rem;
     display: block;
 }
.nav-links li:hover {
  background-color: #3256b9;
}
 .nav-logo{
     display: flex;
     align-items: center;
     gap: 20px;

 }
 .nav-logo h1{
     font-size: 3rem;
 }

 .ham-toggle{
     position: absolute;
     top: 1rem;
     right: 2rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
 }

.ham-toggle .bar{
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}


/* Layout Header */

header {
   position: fixed;
   top:0px;
   width: 100%;
   color: rgb(240, 240, 240);

}
header a{
   color: rgb(240, 240, 240);
}

header a:visited{
   color: rgb(240, 240, 240);
}

#header-menu li a{
    transition-duration: 0.3s;
 }

#header-menu li a:hover{
  transform:translateY(2px) ;
}





/* Layout Profile */

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 153px;

}

.profile-image{
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile-text h2{
    font-size: 4rem;
}


/* Layout Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 40px;
    flex: 0 1 auto;
}
.profile-text{
    text-align: center;
    flex-direction: column;
}

.icon-container i{
    cursor: pointer;
    margin: 0 10px;
    margin-top: 7px;
    color: #000;
}
/* Layout */

main{
    flex: 1 1 auto;
}
/* Layout About */

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    text-align: center;
    padding-top: 153px;
}

.about-cv .button{
    background-color: #1f57f3;
    box-shadow: 0px 12px 0px rgba(32, 59, 133, 0.795);
}
.about-table{
    margin-top: 50px;
}
.about-text{
    margin-top: 40px;
    text-align: center;
    color: #000;
    font-size: 1.7rem;
    padding: 0 1rem;
}
.skills{
    color: #000;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 4rem 0;
}

.about-hobbies{
    margin-top: 30px;
}
.about-cv{
    margin-top: 30px;
}

/* Layout Contact  */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 153px;

}
.contact-links{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-text{
    margin-bottom: 50px;
    text-align: center;
}

#contact_form{
    display:flex;
    flex-direction: column;
    padding: 20px 50px;
    text-align: center;
    width: 500px;
}
.contact-form{
    text-align: center;
}
#contact_form label,#contact_form input,#contact_form textarea{
   margin-bottom: 10px;
}

#contact_form input{
    padding: 8px;
}

#contact_form textarea{
    padding: 8px;
    min-height: 300px;
}
#contact_form button{
    margin: 40px 0;
}


/* Table Styling */

.table-content{
    border-collapse: collapse;
    margin: 25px;
    font-size: 1.3rem;
    min-width: 400px;
    text-align: left;
    border-radius: 7px;
    overflow: hidden;
}

.table-content thead tr{
    background-color: #1f57f3;
    color: #f8f9fa;
    font-weight: 700;

}
.table-content th,
.table-content td {
    padding: 10px 15px;
}

.table-content tbody tr{ 
    border-bottom: 2px solid rgb(201, 201, 201);

}

.table-content tbody tr:nth-of-type(even){
  background-color: rgb(228, 228, 228);
}
.table-content tbody tr:last-of-type{
    border-bottom: 3px solid #1f57f3;
}



    /* Layout Work */

.work-container{
    margin: 0 auto;
    padding-top: 153px;
    text-align: center; 
}
.work-title{
   padding-bottom: 4rem;
}
.card-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}
.card {
    background-color: #1f57f3;
    color: #f8f9fa;
    padding: 1rem 2rem;
    padding-top: 2.5rem;
    border-radius: 10px;
    aspect-ratio: 1/ 1.5;
}

.card-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:30px 0;
    gap: 30px;
}
.card-list li{
    border-top: 4px solid white;
}
.card-footer{
    display: flex;
    border-top: 1px solid white ;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    gap: 10px;

}
.card-footer a{
    color: #f8f9fa
   }
.card-footer a:hover{
   color: rgb(15, 13, 52)
 }


/* Grid Fallback  */
/* .grid-item{
    display: inline-block;
    width: 33%;
}


.grid-item{
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 12px 5px rgba(46, 46, 46, 0.2);
    width: 100%;
}

.grid-item h2{
    margin-bottom: 20px;
}

 */

